.sidenav {
	height: 100%;
	width: 10%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #549af5;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
.listMargin {
	margin-left: 10%;
}
  
  